#namelist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

#namelist div {
  background-color: #CCCCCC;
}

.subCont {
  display: flex;
  justify-content: space-around;
  background-color: burlywood;
  padding: 10px;
  border-radius: 15px;
}

.subCont > div {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

/* 3 columns for >1200px    */
/* 2 columns for 768-1200px */
/* 1 column for <768px      */
@media (max-width: 1200px) {
  #namelist {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  #namelist {
    grid-template-columns: 1fr;
  }
}

.subCont img {
  width: 100%;
  object-fit: contain;
}

.selectionBox {
  background-color: #CCCCCC;
  text-align: center;
}